/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
     /* Header */
     header {
        padding: 15px 0;
        }
     .logo h1 {
        font-size: 20px;
    }
     .menu ul li a {
        padding: 2px 0px !important;
    }

    .s_btn {
        padding: 0px 0;
    }
    .s_icon{
        padding: 5px 0;
    }
    .dm{
        width: 200px;
        padding: 2px 20px;
    }
    .dm[data-bs-popper] {
        top: -10px;
        left: 56px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Header */
    .menu ul li a {
        padding: 5px 0px !important;
    }

    .s_btn {
        padding: 5px 0;
    }

    .dm[data-bs-popper] {
        top: -10px;
        left: 80px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Header */
    .menu ul li a {
        padding: 5px 0px !important;
    }

    .s_btn {
        padding: 5px 0;
    }

    .dm[data-bs-popper] {
        top: -10px;
        left: 80px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {}