/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Header */
    header {
        padding: 15px 0;
    }

    .logo h1 {
        font-size: 20px;
    }

    .menu ul li a {
        padding: 2px 0px !important;
    }

    .s_btn {
        padding: 0px 0;
    }

    .s_icon {
        padding: 5px 0;
    }

    .dm {
        width: 200px;
        padding: 2px 20px;
    }

    .dm[data-bs-popper] {
        top: -10px;
        left: 56px;
    }

    /* Slider */
    .c_item {
        padding: 30px 0;
    }

    .slider_h1 {
        font-size: 25px;
    }

    .slider_p {
        padding: 20px 0;
        line-height: 22px;
    }

    .c_btn {
        padding: 5px 10px;
        font-size: 15px;
    }

    .c_btn i {
        padding-left: 5px;
    }

    .slider_indicators {
        left: 65px;
    }

    .ccn {
        left: 125px;
    }

    .ccp {
        left: 30px;
    }

    /* services */
    .services {
        padding-bottom: 25px;
    }

    .heading_text h2 {
        font-size: 25px;
        padding-top: 30px;
    }

    .heading_text p {
        padding: 20px 0 40px;
        line-height: 22px;
    }

    .line {
        display: none;
    }

    .services_details h3 {
        padding: 10px 0 5px;
    }

    .services_icon i {
        font-size: 50px;
    }

    .branding, .uiux, .app, .web {
        margin-top: 50px;
    }

    /* about */
    .about {
        padding-bottom: 25px;
    }

    .about_txt, .about_img {
        text-align: center;
    }

    .about_img {
        margin-top: 25px;
    }

    .f_p {
        line-height: 22px !important;
    }

    /* Recent */
    .recent {
        padding-bottom: 25px;
    }

    .work_margin {
        margin-top: 15px;
    }

    .nav_tabs {
        padding-top: 30px;
    }

    .nav_pills li {
        padding-right: 10px;
    }

    .nav_pills button {
        padding: 2px 5px;
    }

    .pd_text h2 {
        font-size: 15px;
    }

    .overlay_text i {
        font-size: 30px;
    }

    .overlay_text {
        transform: translate(-50%, -88%);
        -webkit-transform: translate(-50%, -88%);
        -moz-transform: translate(-50%, -88%);
        -ms-transform: translate(-50%, -88%);
        -o-transform: translate(-50%, -88%);
    }

    /* why */
    .why {
        padding-bottom: 25px;
    }

    .why .heading_text, .who_work .heading_text {
        padding-bottom: 15px;
    }

    .why_margin {
        margin-top: 20px;
    }

    .why_details.why_margin {
        text-align: center;
    }

    .icon_title {
        justify-content: center;
    }

    .icon_title i {
        padding-right: 10px;
        font-size: 30px;
    }

    .icon_title h3 {
        font-size: 16px;
    }

    .why_details p {
        padding: 15px 0;
        line-height: 22px;
    }

    /* who work */
    .social_links {
        top: 4%;
    }

    .social_links li a {
        font-size: 16px;
    }

    /* prices */
    .pricing {
        padding-bottom: 25px;
    }

    .pricing .heading_text h2 {
        padding-bottom: 10px;
    }
    .package_item {
        padding: 20px 15px;
    }
    .s_margin_col, .ep_margin_sm {
        margin-top: 30px;
    }
    .package_name {
        margin-top: -32px;
        padding: 0 5px;
    }

    .package_name h3 {
        font-size: 16px;
    }

    .package_item p span {
        font-size: 22px;
    }

    .package_item ul li {
        padding: 5px 0;
    }

    .package_item p {
        padding-top: 15px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Header */
    .menu ul li a {
        padding: 5px 0px !important;
    }

    .s_btn {
        padding: 5px 0;
    }

    .dm[data-bs-popper] {
        top: -10px;
        left: 80px;
    }

    /* Slider */
    .c_item {
        padding: 50px 0;
    }

    .slider_h1 {
        font-size: 35px;
    }

    .slider_p {
        padding: 20px 0;
        line-height: 25px;
    }

    .c_btn {
        padding: 10px 15px;
    }

    .c_btn i {
        padding-left: 10px;
    }

    .slider_indicators {
        left: 65px;
    }

    .ccn {
        left: 125px;
    }

    .ccp {
        left: 30px;
    }

    /* services */
    .services {
        padding-bottom: 50px;
    }

    .heading_text h2 {
        font-family: 'lato', sans-serif;
        font-size: 25px;
    }

    .heading_text p {
        padding: 30px 0 60px;
        line-height: 22px;
    }

    .services_details h3 {
        padding: 15px 0 10px;
    }

    .services_icon i {
        font-size: 50px;
    }

    .app, .web {
        margin-top: 50px;
    }

    /* about */
    .about {
        padding-bottom: 50px;
    }

    .about_txt, .about_img {
        text-align: center;
    }

    .about_img {
        margin-top: 25px;
    }

    .f_p {
        line-height: 25px !important;
    }

    /* Recent */
    .recent {
        padding-bottom: 50px;
    }

    .work_margin {
        margin-top: 15px;
    }

    .nav_tabs {
        padding-top: 30px;
    }

    .nav_pills li {
        padding-right: 5px;
    }

    .pd_text h2 {
        font-size: 16px;
    }

    .nav_pills button {
        padding: 2px 5px;
    }

    .overlay_text {
        transform: translate(-50%, -83%);
        -webkit-transform: translate(-50%, -83%);
        -moz-transform: translate(-50%, -83%);
        -ms-transform: translate(-50%, -83%);
        -o-transform: translate(-50%, -83%);
    }

    /* why */
    .why {
        padding-bottom: 50px;
    }

    .why .heading_text, .who_work .heading_text {
        padding-bottom: 20px;
    }

    .why_margin {
        margin-top: 20px;
    }

    .icon_title i {
        padding-right: 10px;
        font-size: 30px;
    }

    .icon_title h3 {
        font-size: 16px;
    }

    .why_details p {
        padding: 15px 0;
        line-height: 25px;
    }

    /* Who Work */
    .social_links {
        top: 12%;
    }

    /* prices */
    .pricing {
        padding-bottom: 50px;
    }

    .pricing .heading_text h2 {
        padding-bottom: 20px;
    }
    .package_item {
        padding: 20px 15px;
    }

    .ep_margin_sm {
        margin-top: 40px;
    }

    .package_name {
        margin-top: -32px;
        padding: 0 5px;
    }

    .package_item p span {
        font-size: 22px;
    }

    .package_item ul li {
        padding: 5px 0;
    }

    .package_item p {
        padding-top: 15px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Header */
    .menu ul li a {
        padding: 5px 0px !important;
    }

    .s_btn {
        padding: 5px 0;
    }

    .dm[data-bs-popper] {
        top: -10px;
        left: 80px;
    }

    /* Slider */
    .c_item {
        padding: 50px 0;
    }

    .slider_h1 {
        font-size: 40px;
    }

    .slider_p {
        padding: 30px 0;
        line-height: 25px;
    }

    .c_btn {
        padding: 10px 15px;
    }

    .c_btn i {
        padding-left: 10px;
    }

    .slider_indicators {
        left: 65px;
    }

    .ccn {
        left: 125px;
    }

    .ccp {
        left: 30px;
    }

    /* services */
    .services {
        padding-bottom: 80px;
    }

    .heading_text p {
        padding: 35px 0 70px;
        line-height: 25px;
    }

    .services_details h3 {
        padding: 20px 0 15px;
    }

    .services_icon i {
        font-size: 50px;
    }

    .app, .web {
        margin-top: 50px;
    }

    /* about */
    .about {
        padding-bottom: 80px;
    }

    .about_txt, .about_img {
        text-align: center;
    }

    .about_img {
        margin-top: 25px;
    }

    .f_p {
        line-height: 25px !important;
    }

    /* Recent */
    .recent {
        padding-bottom: 80px;
    }

    .nav_tabs {
        padding-top: 40px;
    }

    .nav_pills li {
        padding-right: 5px;
    }

    .pd_text h2 {
        font-size: 16px;
    }

    /* why */
    .why {
        padding-bottom: 80px;
    }

    .why .heading_text, .who_work .heading_text {
        padding-bottom: 20px;
    }

    .why_margin {
        margin-top: 30px;
    }

    .icon_title i {
        padding-right: 10px;
        font-size: 30px;
    }

    .icon_title h3 {
        font-size: 16px;
    }

    .why_details p {
        padding: 15px 0;
        line-height: 25px;
    }

    /* who work */
    .social_links {
        top: 9%;
    }

    .social_links li a {
        font-size: 16px;
    }

    /* prices */
    .pricing {
        padding-bottom: 80px;
    }

    .pricing .heading_text h2 {
        padding-bottom: 20px;
    }

    .package_item {
        padding: 20px 15px;
    }

    .package_item .ep_margin_sm {
        margin-top: 40px !important;
    }

    .package_item ul li {
        padding: 5px 0;
    }

    .package_item p {
        padding-top: 15px;
        font-size: 15px;
    }

    .package_item p span {
        font-size: 18px;
    }

    .package_name {
        margin-top: -32px;
        padding: 0 5px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Slider */
    .c_item {
        padding: 100px 0;
    }

    .slider_h1 {
        font-size: 50px;
    }

    .slider_p {
        padding: 30px 0;
        line-height: 25px;
    }

    .slider_indicators {
        left: 65px;
    }

    .ccn {
        left: 125px;
    }

    .ccp {
        left: 30px;
    }

    /* Services */
    .services_details h3 {
        padding: 20px 0;
    }

    /* About */
    .f_p {
        line-height: 25px !important;
    }

    /* Who Work */
    .social_links {
        top: 11%;
    }

    .social_links li a {
        font-size: 21px;
    }

    /* prices */

    .package_item {
        padding: 30px 15px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* who work */
    .person_txt {
        width: 98%;
    }
}

/* Extra Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* who work */
    .person_txt {
        width: 83.5%;
    }
}