/* Font Import */
@font-face {
    font-family: Roboto;
    src: url('./../fonts/Roboto-Light.ttf') format('ttf');
    src: url('./../fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: Lato;
    src: url('./../fonts/Lato-Regular.ttf') format('ttf');
    src: url('./../fonts/Lato-Bold.ttf') format('ttf');
}

/* Font Import */

/* Common Css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8e8e8e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h5, h6, p, ul, li {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

/* Common Css */

/* Header Start */
header {
    padding: 20px 0;
    font-family: "lato", sans-serif;
}

.c_nav {}

.logo {}

.logo h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}

.menu {}

.menu ul li a {
    text-transform: uppercase;
    padding: 0 15px !important;
    color: #8e8e8e !important;
}

.menu ul li a:hover, .nav-item .active {
    color: #333333 !important;
}

.menu_icon:focus {
    box-shadow: 0 0 1px;
}

.dm {
    width: 300px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 5px 15px;
}

.dm[data-bs-popper] {
    top: 40px;
    left: -257px;
}

.s_btn {
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: none;
}

.s_btn:hover {
    color: #333333;
}

.s_btn::after {
    display: none;
}

.s_in {
    border: none !important;
    box-shadow: none !important;
}

.s_in:focus {
    border: none !important;
    box-shadow: none !important;
}

.s_icon {
    padding: 5px 0;
}

/* Header End */

/* Slider Start */
.slider {
    background-image: url("./../img/slider.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 700px; */
    color: #fff;
}

.c_item {
    padding: 200px 0;
}

.slider_h1 {
    font-family: 'lato', sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.slider_p {
    padding: 45px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.c_btn {
    padding: 15px 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #333333;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.c_btn i {
    padding-left: 15px;
}

.c_btn:hover {
    background-color: #333333;
    color: #fff !important;
}

.ccn, .ccp {
    width: 5px;
    height: 9px;
    top: 100%;
    transform: translateY(-130%);
    text-transform: uppercase;
    color: #333333;
}
.ccn:hover, .ccn:focus, .ccp:focus, .ccp:hover{
    color: #333333;
    opacity: 1;

}
.ccn {
    left: 105px;
}

.ccp {
    left: 10px;
}

.slider_indicators {
    width: 30px;
    margin: 0;
    padding: 0;
    left: 45px;
    align-items: end;
}
.slider_indicators button {
    width: 2px !important;
    height: 15px !important;
    text-align: justify;
    background-color: #333333;
}
.slider_indicators button.active {
    height: 18px !important;
}
.slider_indicators [data-bs-target] {
    border-bottom: 0;
    background-color: #333333;
}


/* Slider End */

/* Services Start */
.services {
    padding-bottom: 100px;
}

.heading_text {}

.line {
    width: 2px;
    height: 50px;
    background-color: #333333;
    margin-bottom: 30px !important;
}

.heading_text h2, .services_details h3 {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
}

.heading_text p {
    padding: 45px 0 90px 0;
    line-height: 30px;
}

.services_border {
    padding: 0 10px 25px 10px;
    border: 1px solid #cccccc;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.services_border:hover {
    border: 1px solid #333333;
}

.services_border:hover .services_icon i, .services_border:hover .s_btn {
    color: #333333;
}

.services_icon {
    background: #fff;
    width: 65px;
    height: 65px;
    margin: -21px auto 0;
}

.services_icon i{
    font-size: 60px;
}


.services_details {}

.services_details h3 {
    padding: 40px 0 20px;
    font-size: 18px;
    font-weight: 700;
}

.hr_custom {
    margin: 0 auto;
    width: 70px;
}

.services_details p {
    padding: 20px 0 25px;
}

.s_btn {
    color: #8e8e8e;
}

/* Services End */

/* About Start */
.about {
    padding-bottom: 100px;
}

.about_img {}

.about_txt {}

.about_txt h2 {}

.f_p {
    padding: 20px 0 !important;
}

.about_txt p:nth-child(3) {
    padding-top: 0 !important;
}

.main_btn {
    padding: 10px 15px;
    border: 1px solid #333333;
}

/* About End */
/* Recent Start */
.recent{background-color: #f8f8f8;
padding-bottom: 100px;}
.nav_tabs{
    padding-top: 80px;
}
.nav_pills li{
    padding-right: 10px;
}
.nav_pills li:last-child{
    padding-right: 0 !important;
}
.nav_pills li button{
    text-transform: uppercase;
    color: #8e8e8e;
    border: 1px solid transparent !important;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.nav_pills .nav-link.active,.nav_pills .nav-link:hover,  .nav_pills .show>.nav-link {
    font-weight: 400;
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.work_margin{
    margin-top: 25px;
}
/* overlay */
.cover_img {
    position: relative;
    background-color: #333333;
    width: 100%;
    height: 100%;
    transition:3s all ease-in;
    -webkit-transition:3s all ease-in;
    -moz-transition:3s all ease-in;
    -ms-transition:3s all ease-in;
    -o-transition:3s all ease-in;
  }
  
.img_ov{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.overlay_img {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
  .overlay_text {
    color: white;
    padding: 16px 32px;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%, -75%);
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
}
.overlay_text i{
    font-size: 60px;
}
  
  .project_details {
    /*display: none;
    */position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #333333;
    width: 100%;
    text-align: left;
    z-index: -1;
    transform: translate(0%, 10%);
    -webkit-transform: translate(0%, 10%);
    -moz-transform: translate(0%, 10%);
    -ms-transform: translate(0%, 10%);
    -o-transform: translate(0%, 10%);
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
}
.cover_img img{
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
}
.cover_img:hover .project_details{
    z-index: 0;
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
}
  .cover_img:hover .img_ov {
    opacity: 0.3;
  }
  
  .cover_img:hover .overlay_img {
    opacity: 1;
  }
  .pd_text{
    padding: 10px 20px;
  }
  .pd_text h2{font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .pd_text p{
    font-size: 16px;
    text-transform: capitalize;
  }
/* Recent End */